@elilillyco:registry=https://elilillyco.jfrog.io/elilillyco/api/npm/Lilly-NPM/
@neverendingsupport:registry=https://elilillyco.jfrog.io/artifactory/api/npm/neverendingsupport-npm-vr/
always-auth=true
email=lucid_artifactory@lilly.com
//@axe-devtools:registry=https://elilillyco.jfrog.io/artifactory/api/npm/deque-axe-devtools-npm-rm/
//elilillyco.jfrog.io/elilillyco/api/npm/Lilly-NPM/:_auth=${JF_ARTIFACTORY_AUTH}

//@axe-devtools:registry= https://elilillyco.jfrog.io/artifactory/api/npm/deque-axe-devtools-npm-rm/