.icontile-wrapper {
  display: flex;
  justify-content: center;
}

.icon-tile-grid-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--lds-g-spacing-900);
}

.icon-tile-grid-content .icon-grid-content-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--lds-g-spacing-600) var(--lds-g-spacing-300);
}

.icon-tile-grid-content.three-columns {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--lds-g-spacing-900);
}

.icon-tile-grid-content .icon-grid-content-wrapper.three-columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--lds-g-spacing-300);
  padding-top: var(--lds-g-spacing-600);
}

.icon-tile-grid-content.four-columns {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--lds-g-spacing-900);
}

.icon-tile-grid-content .eyebrow-text {
  color: var(--lds-g-color-neutral-base-100);
  font: var(--lds-g-typography-ringside-special-eyebrow-desktop);
  line-height: var(--lds-g-font-line-height-2);
  text-transform: uppercase;
}

.icon-tile-grid-content .icon-grid-content-wrapper.four-columns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--lds-g-spacing-300);
  padding-top: var(--lds-g-spacing-600);
}

.icon-grid-content-wrapper
  .icon-grid-single-item.icon-grid-single-item-four-columns {
  width: 255px !important;
}

.icon-tile-grid-content
  .content-paragraphs.content-paragraphs-four-columns
  .grid-four-columns-title {
  width: 230.5px;
  overflow-wrap: break-word;
  color: var(--lds-g-color-neutral-base-100);
  font: var(--lds-g-typography-ringside-heading-4-desktop);
  line-height: var(--lds-g-font-line-height-12);
  letter-spacing: var(--lds-g-typography-letter-spacing-minus-0-4);
}

.icon-tile-grid-content
  .content-paragraphs.content-paragraphs-four-columns
  .grid-four-columns-description {
  width: 230.5px;
  overflow-wrap: break-word;
  color: var(--lds-g-color-neutral-base-100);
  font: var(--lds-g-typography-ringside-body-large-desktop);
  line-height: var(--lds-g-font-line-height-8);
}

.icon-tile-grid-content .icon-grid-content-wrapper .icon-grid-single-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 533px;
  gap: var(--lds-g-spacing-300);
  flex: 1 0 0;
}

.icon-tile-grid-content
  .icon-grid-single-item
  .content-paragraphs.content-paragraphs-three-columns {
  display: flex;
  padding-right: var(--lds-g-spacing-300);
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.icon-tile-grid-content
  .icon-grid-content-wrapper.three-columns
  .icon-grid-single-item {
  display: flex;
  width: 347px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--lds-g-spacing-300);
  flex: 1 0 0;
}

.icon-tile-grid-content
  .icon-grid-content-wrapper.three-columns
  .grid-three-columns-title {
  width: 323.33px;
  color: var(--lds-g-color-neutral-base-100);
  margin: 0;
  font: var(--lds-g-typography-ringside-heading-4-desktop);
  line-height: var(--lds-g-font-line-height-12);
  letter-spacing: var(--lds-g-typography-letter-spacing-minus-0-4);
}

.icon-tile-grid-content
  .icon-grid-content-wrapper.three-columns
  .grid-three-columns-description {
  width: 323.33px;
  color: var(--lds-g-color-neutral-base-100);
  margin: 0;
  font: var(--lds-g-typography-ringside-heading-6-default);
  line-height: var(--lds-g-font-line-height-8);
}

.icon-tile-grid-content
  .icon-grid-content-wrapper.three-columns
  .grid-three-columns-description
  strong {
  color: var(--lds-g-color-neutral-base-100);
  font-weight: var(--lds-g-font-weight-900);
  font-size: var(--lds-g-font-size-2);
  line-height: var(--lds-g-font-line-height-8);
}

.icon-tile-grid-content .section-eyebrow-with-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
}

.icon-tile-grid-content .icon-tile-section-description {
  width: 752px;
  color: var(--lds-g-color-neutral-base-100);
  font: var(--lds-g-typography-ringside-body-large-desktop);
  line-height: var(--lds-g-font-line-height-8);
}

.icon-tile-grid-content .icon-tile-section-eyebrow-text {
  color: var(--lds-g-color-neutral-base-100);
  text-align: center;
  font: var(--lds-g-typography-ringside-special-eyebrow-desktop);
  line-height: var(--lds-g-font-line-height-2);
  text-transform: uppercase;
}

.icon-tile-grid-content .icon-tile-section-title {
  width: 867px;
  overflow-wrap: break-word;
  color: var(--lds-g-color-neutral-base-100);
  font: var(--lds-g-typography-garamond-display-1-desktop);
  line-height: var(--typography-garamond-display-1-line-height);
  letter-spacing: var(--lds-g-typography-letter-spacing-9-4);
}

.icon-tile-grid-content .icon-tile-section-title em {
  color: var(--lds-g-color-palette-red-060);
  font: var(--lds-g-typography-garamond-display-1-desktop);
  font-style: italic;
  line-height: var(--typography-garamond-display-1-line-height);
  letter-spacing: var(--lds-g-typography-letter-spacing-9-4);
}

.icon-tile-grid-content .icon-grid-content-wrapper .icon-grid-image {
  display: flex;
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
}

.icon-tile-grid-content .icon-grid-single-item .content-paragraphs {
  display: flex;
  flex-direction: column;
  gap: var(--lds-g-spacing-150);
  overflow-wrap: break-word;
}

.icon-tile-grid-content .icon-grid-content-wrapper .grid-title {
  color: var(--lds-g-color-neutral-base-100);
  width: 533px;
  margin: 0;
  font: var(--lds-g-typography-ringside-heading-4-default);
  line-height: var(--lds-g-font-line-height-11);
}

.icon-tile-grid-content .icon-grid-content-wrapper .grid-description {
  color: var(--lds-g-color-neutral-base-100);
  width: 533px;
  margin: 0;
  font: var(--lds-g-typography-ringside-heading-6-default);
  line-height: var(--lds-g-font-line-height-8);
}

.icon-tile-grid-content .cta-link {
  color: var(--lds-g-color-palette-red-060);
  font: var(--lds-g-typography-ringside-special-cta-text-link-desktop);
  line-height: var(--lds-g-font-line-height-5);
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: 4%;
  text-underline-offset: 24%;
  text-underline-position: from-font;
}

@media (320px <= width <= 1024px) {
  .icon-tile-grid-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--lds-g-spacing-600);
    align-self: stretch;
  }

  .icon-tile-grid-content .icon-grid-image {
    display: flex;
    width: 48px;
    height: 48px;
    min-width: 48px;
    max-width: 48px;
    min-height: 48px;
    max-height: 48px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1;
  }

  .icon-tile-grid-content .icon-grid-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--lds-g-spacing-600);
    flex: 1 0 0;
  }

  .icon-tile-grid-content .icon-tile-section-title {
    width: 312px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    color: var(--lds-g-color-neutral-base-100);
    font: var(--lds-g-typography-garamond-display-1-default);
    line-height: var(--lds-g-font-line-height-16);
    letter-spacing: var(--lds-g-typography-letter-spacing-4-5);
    overflow-wrap: break-word;
  }

  .icon-tile-grid-content.three-columns .icon-tile-section-title {
    overflow-wrap: break-word;
  }

  .icon-tile-grid-content.four-columns .icon-tile-section-title {
    width: 312px;
  }

  .icon-tile-grid-content .content-paragraphs {
    display: flex;
    padding-right: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px !important;
    align-self: stretch;
  }

  .icon-tile-grid-content .icon-tile-section-description {
    width: 328px;
    overflow-wrap: break-word;
    color: var(--lds-g-color-neutral-base-100);
    font: var(--lds-g-typography-ringside-body-large);
    line-height: var(--lds-g-font-line-height-7);
  }

  .icon-tile-grid-content .icon-grid-content-wrapper .icon-grid-single-item {
    width: 328px !important;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
  }

  .icon-tile-grid-content .icon-grid-single-item .content-paragraphs {
    display: flex;
    flex-direction: column;
    gap: var(--lds-g-spacing-100);
  }

  .icon-tile-grid-content
    .icon-grid-content-wrapper.three-columns
    .icon-grid-single-item {
    width: 328px;
    color: var(--lds-g-color-neutral-base-100);
    font: var(--lds-g-typography-ringside-heading-2-default);
    line-height: var(--lds-g-font-line-height-15);
    letter-spacing: var(--lds-g-typography-letter-spacing-minus-4-half-rem);
  }

  .icon-tile-grid-content .icon-grid-content-wrapper .icon-grid-image {
    display: flex;
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
  }

  .icon-tile-grid-content .icon-grid-content-wrapper .grid-title {
    color: var(--lds-g-color-neutral-base-100);
    width: 304px;
    align-self: stretch;
    margin: 0;
    font: var(--lds-g-typography-ringside-heading-5-default);
    line-height: var(--lds-g-font-line-height-9);
  }

  .icon-tile-grid-content .icon-grid-content-wrapper .grid-description {
    color: var(--lds-g-color-neutral-base-100);
    width: 304px;
    align-self: stretch;
    margin: 0;
    font: var(--lds-g-typography-ringside-body-large);
    line-height: var(--lds-g-font-line-height-7);
  }

  /* three columns */
  .icon-tile-grid-content.three-columns {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--lds-g-spacing-800);
    align-self: stretch;
  }

  .icon-tile-grid-content .icon-grid-content-wrapper.three-columns {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--lds-g-spacing-600);
    align-self: stretch;
    padding: 0;
  }

  .icon-tile-grid-content
    .icon-grid-content-wrapper.three-columns
    .icon-grid-single-item
    .icon-grid-single-item-three-columns {
    width: 343px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--lds-g-spacing-300);
    align-self: stretch;
  }

  .icon-tile-grid-content .cta-link {
    color: var(--lds-g-color-palette-red-060);
    font: var(--lds-g-typography-ringside-special-cta-text-link-default);
    line-height: var(--lds-g-font-line-height-3);
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: 4%;
    text-underline-offset: 24%;
    text-underline-position: from-font;
  }

  .icon-tile-grid-content
    .icon-grid-content-wrapper.three-columns
    .icon-grid-single-item
    .icon-grid-single-item-three-columns {
    width: 343px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--lds-g-spacing-300);
    align-self: stretch;
  }

  .icon-tile-grid-content
    .icon-grid-content-wrapper.three-columns
    .grid-three-columns-title {
    color: var(--lds-g-color-neutral-base-100);
    width: 304px !important;
    margin: 0;
    font: var(--lds-g-typography-ringside-heading-2-default);
    line-height: var(--lds-g-font-line-height-15);
    letter-spacing: var(--lds-g-typography-letter-spacing-4-5);
  }

  .icon-tile-grid-content
    .icon-grid-content-wrapper.three-columns
    .grid-three-columns-description {
    color: var(--lds-g-color-neutral-base-100);
    width: 304px !important;
    margin: 0;
    font: var(--lds-g-typography-ringside-body-large);
    line-height: var(--lds-g-font-line-height-7);
  }

  .icon-tile-grid-content
    .icon-grid-content-wrapper.three-columns
    .grid-three-columns-description
    strong {
    color: var(--lds-g-color-neutral-base-100);
    font: var(--lds-g-typography-ringside-body-large);
    font-weight: var(--lds-g-font-weight-900);
    font-size: var(--lds-g-font-size-1);
    line-height: var(--lds-g-font-line-height-7);
  }

  /* four columns */
  .icon-tile-grid-content .section-eyebrow-with-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
  }

  .icon-tile-grid-content.four-columns {
    gap: var(--lds-g-spacing-800) !important;
  }

  .icon-tile-grid-content .icon-grid-content-wrapper.four-columns {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 304px;
    align-self: stretch;
    padding: 0;
  }

  .icon-tile-grid-content .icon-tile-section-eyebrow-text {
    color: var(--lds-g-color-neutral-base-100);
    text-align: center;
    font: var(--lds-g-typography-ringside-special-eyebrow-default);
    line-height: var(--lds-g-font-line-height-1);
    text-transform: uppercase;
  }

  .icon-tile-grid-content
    .content-paragraphs.content-paragraphs-four-columns
    .grid-four-columns-title {
    width: 304px;
    color: var(--lds-g-color-neutral-base-100);
    font: var(--lds-g-typography-ringside-heading-4-default);
    line-height: var(--lds-g-font-line-height-10);
    letter-spacing: var(--lds-g-typography-letter-spacing-minus-3-5);
  }

  .icon-tile-grid-content
    .content-paragraphs.content-paragraphs-four-columns
    .grid-four-columns-description {
    color: var(--lds-g-color-neutral-base-100);
    width: 304px;
    font: var(--lds-g-typography-ringside-body-large);
    line-height: var(--lds-g-font-line-height-7);
  }

  .icon-tile-grid-content .content-paragraphs.content-paragraphs-four-columns {
    display: flex;
    width: 304px;
    flex-direction: column;
    align-items: flex-start;
  }
}
