.primary-hero-video {
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
  position: absolute;
}

.video-container {
  margin-bottom: 140px !important;
  padding-top: 0;
}

.highlight.hero.block {
  position: relative;
}

.image-wrapper-slide .button-container {
  margin: 0;
}

.image-wrapper-slide {
  padding: 0 !important;
  max-width: unset !important;
}

.image-wrapper-slide .hero-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 900px;
}

.content-wrapper {
  position: relative;
  z-index: 1;
  display: flex;
  width: 1089px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--lds-g-spacing-300);
  left: var(--lds-g-spacing-800);
  height: 497px;
}

.hero-image-title-white {
  color: var(--lds-g-color-neutral-base-000);
  font-weight: bold;
  position: relative;
  z-index: 2;
  background: linear-gradient(
    to bottom,
    rgb(255 255 255 / 100%),
    rgb(255 255 255 / 80%)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-image-title-black {
  color: var(--lds-g-color-neutral-base-100) !important;
}

.hero-image-container .cta-button-hero-image-banner {
  width: auto;
}

.hero-image-container .hero-image-title {
  width: 1089px;
  margin: 0;
  word-wrap: break-word;
}

.hero-image-container .hero-image-description {
  margin: 0;
  width: 600px;
  word-wrap: break-word;
}

.hero-image-container .background-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  object-position: center;
  flex-shrink: 0;
}

.playkit-pre-playback-play-button,
.playkit-icon-start-over,
.playkit-control-button,
.playkit-icon-playkit-icon-rewind-10,
.playkit-icon-volume-base,
.playkit-icon-volume-waves,
.playkit-icon-volume-mute,
.playkit-icon-language,
.playkit-icon-settings,
.playkit-icon-maximize,
.playkit-icon-minimize,
.playkit-time-display,
.playkit-bottom-bar,
.playkit-spinner {
  display: block !important;
}

.hero-wrapper {
  display: flex;
  flex-direction: column;
  z-index: 1;
  color: var(--lds-g-color-neutral-base-000);
  position: relative;
  height: 900px;
  align-items: baseline;
}

.video-container .hero-wrapper .hero-title {
  position: absolute;
  width: 1089px;
  bottom: 252px;
  left: var(--lds-g-spacing-800);
  z-index: 1;
  margin: 0;
}

.video-container .hero-wrapper .hero-description {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  height: 100%;
  bottom: calc(252px - 14px - 7rem);
  position: absolute;
  left: var(--lds-g-spacing-800);
  width: 600px;
  z-index: 1;
  color: var(--lds-g-color-neutral-base-000);
  margin: 0;
  padding-top: 13px;
}

.hero-icon-container {
  display: flex;
  height: 45px;
  left: 74px;
  bottom: 43.5px;
  position: absolute;
  z-index: 1;
}

.hero-icon-container i {
  width: 15px;
  height: 31.75px;
}

.icon-external {
  background-image: url("../../icons/arrow.svg");
}

.icon-external-black {
  background-image: url("../../icons/downarrowblack.svg");
}

.video-container .hero-wrapper .hero-title,
.video-container .image-wrapper-slide .hero-image-title {
  align-self: stretch;
  color: var(--lds-g-color-neutral-base-000);
  font: var(--lds-g-typography-ringside-display-1-desktop);
  letter-spacing: var(--lds-g-typography-letter-spacing-minus-3-1);
}

.video-container .hero-wrapper .hero-description,
.video-container .image-wrapper-slide .hero-image-description {
  align-self: stretch;
  color: var(--lds-g-color-neutral-base-000);
  font: var(--lds-g-typography-ringside-heading-6-default);
  line-height: var(--lds-g-font-line-height-8);
}

.hero-wrapper h1 {
  color: var(--lds-g-color-neutral-base-000);
}

.hero-wrapper .playkit-control-rewind,
.hero-wrapper .playkit-control-forward,
.hero-wrapper .playkit-time-display,
.hero-wrapper .playkit-bottom-bar-area {
  display: none !important;
}

.hero-wrapper .playkit-player .playkit-top-bar {
  background: unset !important;
}

.hero-wrapper .playkit-right-controls {
  display: none !important;
}

.hero-wrapper .playkit-floating-container.playkit-floating-active {
  display: none !important;
}

.hero-wrapper .playkit-floating-poster.playkit-floating-poster-show {
  display: block !important;
}

.hero-wrapper .playkit-icon-pause {
  background-image: url("../../icons/Pause.png") !important;
  width: 44px;
  height: 44px;
}

.hero-wrapper .playkit-bottom-bar {
  background: none !important;
}

.hero-wrapper .playkit-control-settings,
.hero-wrapper .playkit-control-picture-in-picture,
.hero-wrapper .playkit-control-fullscreen {
  display: none !important;
}

.hero-wrapper .playkit-tooltip {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  width: 44px !important;
  height: 44px !important;
  padding: 4px;
  flex-shrink: 0;
  border-radius: 258.824px;
  background: rgb(0 0 0 / 50%);
  backdrop-filter: blur(25px);
}

.hero-wrapper .playkit-player .playkit-control-button {
  width: 37px;
  height: 37px;
}

.hero-wrapper .playkit-engine {
  object-fit: fill !important;
}

.playkit-volume-control-bar {
  bottom: 0 !important;
  top: 100%;
  left: 5px !important;
}

.playkit-control-button-container {
  margin: 0 6px !important;
}

.hero-wrapper .playkit-player .playkit-bottom-bar {
  opacity: 1 !important;
  transition: unset !important;
  bottom: unset !important;
  top: 18%;
  padding-right: 64px;
}

.hero-wrapper .playkit-player .playkit-bottom-bar .playkit-controls-container {
  justify-content: flex-end !important;
  opacity: 1 !important;
  gap: 5px;
}

.hero-wrapper .hero-wrapper .playkit-playback-controls {
  position: static !important;
  opacity: 1 !important;
}

.hero-wrapper .hero-wrapper .playkit-control-volume {
  position: static !important;
  opacity: 1 !important;
}

.hero-wrapper * {
  transition: none !important;
  transform: none;
}

.hero-wrapper
  .playkit-control-button-container.playkit-control-play-pause
  .playkit-control-button {
  transition: unset !important;
}

.hero-wrapper .playkit-gui-area {
  transition: none !important;
  transition-property: none !important;
  display: unset !important;
  flex-flow: unset !important;
}

.playkit-control-button-container.playkit-volume-control i,
.hero-wrapper .playkit-control-button-container.playkit-control-volume i {
  position: absolute !important;
  top: 5px !important;
  left: 5px !important;
  padding: 17px;
}

.hero-wrapper .playkit-center-playback-controls {
  top: -100px !important;
}

.hero-wrapper .playkit-volume-control-bar {
  bottom: 0;
}

.hero-wrapper .playkit-icon-volume-mute {
  display: none !important;
}

.hero-wrapper .playkit-is-muted .playkit-icon-volume-mute {
  display: block !important;
}

.hero-wrapper .force-cursor-visible {
  cursor: default !important;
}

.highlight .hero-wrapper h1 {
  color: var(--lds-g-color-palette-pink-050);
  position: absolute;
  z-index: 1;
}

.playkit-floating-container
  .playkit-floating-active-bottom
  .playkit-floating-active-right
  .playkit-floating-draggable
  .playkit-floating-active {
  display: none !important;
}

.video-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--lds-g-color-neutral-base-000);
  font-size: var(--lds-g-font-size-5);
  font-weight: bold;
  text-align: center;
  z-index: 2;
  pointer-events: none;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 900px;
  width: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 1;
  backdrop-filter: blur(10px);
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-backdrop-filter: blur(10px);
  background: rgb(0 0 0 / 50%) !important;
}

.video-overlay .icon-grid-container {
  display: grid;
  padding: 0 var(--lds-g-spacing-087) var(--lds-g-spacing-125)
    var(--lds-g-spacing-087);
  grid-template-columns: repeat(auto-fit, minmax(22%, 1fr));
  gap: var(--lds-g-spacing-300);
}

.video-overlay .icon-grid-item {
  background: none;
  border: none;
  margin: 0;
}

.video-overlay .icon-grid-container-padding-removed {
  padding: 0 !important;
}

.video-overlay .icon-grid-container > .icon-grid-item img {
  width: 48px;
  height: 48px;
  aspect-ratio: auto;
  object-fit: contain;
}

.video-overlay .overlay-text {
  text-align: left;
  position: relative;
  z-index: 2;
  filter: none;
}

.overlay-title {
  padding: var(--lds-g-spacing-125) var(--lds-g-spacing-087) 0;
  color: var(--lds-g-color-neutral-base-000);
  font: var(--lds-g-typography-ringside-heading-2-desktop);
  letter-spacing: var(--lds-g-typography-letter-spacing-minus-6);
  margin: 0 0 var(--lds-g-spacing-600);
}

.icon-grid-item div:nth-child(2) p {
  color: var(--lds-g-color-neutral-base-000);
  font: var(--lds-g-typography-ringside-heading-3-default);
  letter-spacing: var(--lds-g-typography-letter-spacing-minus-4);
  margin: var(--lds-g-spacing-300) 0 var(--lds-g-spacing-150);
}

.icon-grid-item div:nth-child(3) p {
  margin: 0;
  color: var(--lds-g-color-neutral-base-000);
  font: var(--lds-g-typography-ringside-heading-6-default);
  line-height: var(--lds-g-font-line-height-7);
}

.video-overlay.show {
  display: block;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.scroll-btn {
  display: none;
}

.hero-wrapper .hidden {
  display: none;
}

.content-wrapper .icon-img {
  width: 199px;
  height: 87px;
}

.image-wrapper-slide
  .hero-image-container
  .cta-button-hero-image-banner
  .cta-button-filled {
  display: flex;
  position: absolute;
}

@media (320px <= width <= 1024px) {
  .hero-wrapper {
    align-items: stretch;
    height: 720px !important;
  }

  .hero-image-container {
    position: relative;
    height: 720px !important;
  }

  .content-wrapper .icon-img {
    width: 130px;
    height: 60px;
  }

  .image-wrapper-slide .hero-image-container .cta-button-hero-image-banner {
    width: auto;
    bottom: 148.5px;
    left: var(--lds-g-spacing-200);
  }

  .image-wrapper-slide .hero-image-container .hero-image-description {
    width: 343px;
    word-wrap: break-word;
    margin: 0;
  }

  .video-container .hero-wrapper .hero-description {
    left: 16px;
    width: 85%;
    padding: 0;
    bottom: calc(192px - 19px - 45rem);
    justify-content: normal;
  }

  .video-container .image-wrapper-slide .hero-image-description {
    width: 343px;
    word-wrap: break-word;
    margin: 0;
    color: var(--lds-g-color-neutral-base-000);
    font: var(--lds-g-typography-ringside-body-large);
    line-height: var(--lds-g-font-line-height-7);
  }

  .video-container .hero-wrapper .hero-title {
    left: 16px;
    width: 343px;
    bottom: 192.5px !important;
    padding: 0;
    color: var(--lds-g-color-neutral-base-000);
    font: var(--lds-g-typography-ringside-display-1-default);
    font-size: var(--lds-g-font-size-8);
    letter-spacing: var(--lds-g-typography-letter-spacing-minus-15);
  }

  .video-container .image-wrapper-slide .hero-image-title {
    width: 343px;
    word-wrap: break-word;
    padding: 0;
    color: var(--lds-g-color-neutral-base-000);
    font: var(--lds-g-typography-ringside-display-1-default);
    font-style: normal;
    line-height: var(--lds-g-font-line-height-15);
    letter-spacing: var(--lds-g-typography-letter-spacing-minus-12-5);
  }

  .video-overlay {
    padding: 0;
    height: 720px;
  }

  .video-overlay .icon-grid-container {
    display: flex;
    position: relative;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 0 16px;
    width: auto;
    gap: 0;
  }

  .video-overlay .icon-grid-container-padding-removed {
    padding: 0 !important;
  }

  .carousel-indicators {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: var(--lds-g-spacing-100);
    margin: var(--lds-g-spacing-200) 0 0 var(--lds-g-spacing-200);
    width: fit-content;
    padding: var(--lds-g-radius-0);
    border-radius: var(--lds-g-radius-0);
    background: var(--lds-g-color-neutral-base-005);
  }

  .icon-grid-container::-webkit-scrollbar {
    display: none;
  }

  .hero-wrapper .indicator {
    width: 8px;
    height: 8px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .hero-wrapper .indicator.active {
    width: 24px;
    height: 8px;
    border-radius: 8px;
    background: var(--lds-g-color-neutral-base-080);
  }

  .hero-wrapper .content-wrapper {
    left: var(--lds-g-spacing-200);
    width: 343px;
    height: 376px;
  }

  .video-container .hero-wrapper .hero-icon-container {
    display: none;
  }

  .overlay-text .icon-grid-item {
    padding: 0;
  }

  .overlay-title {
    color: var(--lds-g-color-neutral-base-000);
    font: var(--lds-g-typography-ringside-heading-3-default);
    letter-spacing: var(--lds-g-typography-letter-spacing-minus-0-4);
    padding: var(--lds-g-spacing-2050) var(--lds-g-spacing-200) 0;
  }

  .icon-grid-item div:nth-child(2) p {
    color: var(--lds-g-color-neutral-base-000);
    font: var(--lds-g-typography-ringside-heading-4-default);
    letter-spacing: var(--lds-g-typography-letter-spacing-minus-3-5);
    margin: var(--lds-g-spacing-300) 0 var(--lds-g-spacing-150);
    padding-right: var(--lds-g-spacing-250);
  }

  .icon-grid-item div:nth-child(3) p {
    color: var(--lds-g-color-neutral-base-000);
    font: var(--lds-g-typography-ringside-body-medium);
    font-weight: var(--lds-g-font-weight-400);
    margin: 0;
    padding-right: var(--lds-g-spacing-250);
  }

  .video-overlay .hero-carousel-buttons {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    margin: var(--lds-g-spacing-300) 0 164.5px;
    padding: 0 259px 0 16px;
  }

  .hero-wrapper .playkit-left-controls {
    padding: 0;
  }

  .header-wrapper {
    position: absolute !important;
    top: 80vh !important;
  }

  .nav-brand .default-content-wrapper {
    position: static !important;
    top: 0 !important;
    margin-left: 30% !important;
  }

  .hero-wrapper .playkit-player .playkit-bottom-bar {
    top: 36px !important;
    padding-right: 16px !important;
  }

  .video-overlay .overlay-text .icon-grid-item h5 {
    font-size: 28px;
    padding: 0;
  }

  .video-overlay .icon-grid-container > .icon-grid-item {
    flex: 0 0 calc(100% / 1.2);
    margin-right: 8px;
  }

  .video-overlay .icon-grid-container > .icon-grid-item:last-child {
    flex: 0 0 calc(100%);
  }

  .hero-wrapper .icon {
    display: flex;
    width: 13px;
    height: 45px;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media (320px <= width <= 3500px) {
  .hero-carousel-buttons a.button:hover,
  .hero-carousel-buttons a.button:focus,
  .hero-carousel-buttons button:hover,
  .hero-carousel-buttons button:focus {
    background-color: var(--lds-g-color-neutral-base-000);
    cursor: pointer;
  }

  .hero-wrapper .playkit-volume-control {
    transform: none;
    max-width: 90%;
  }

  .hero-wrapper .playkit-player .playkit-tooltip {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }

  .hero-wrapper .playkit-left-controls {
    width: 44px !important;
    height: 44px !important;
    padding: 0;
    flex-shrink: 0;
    border-radius: 258.824px;
    background: rgba(0 0 0 / 50%);
    backdrop-filter: blur(25px);
  }

  .hero-wrapper
    .playkit-player.playkit-size-xs:not(.playkit-state-idle).playkit-hover
    .playkit-center-playback-controls
    .playkit-icon {
    width: 32px !important;
    height: 32px !important;
  }

  .hero-wrapper
    .playkit-player.playkit-size-xs:not(.playkit-state-idle).playkit-hover
    .playkit-center-playback-controls
    .playkit-control-button {
    padding: 0 !important;
  }

  .hero-wrapper .playkit-icon .playkit-icon-play,
  .hero-wrapper .playkit-icon .playkit-icon-pause {
    margin-left: 5px;
    margin-top: 5px;
    width: 32px !important;
    height: 32px !important;
  }

  .hero-wrapper
    .playkit-player.playkit-touch:not(.playkit-state-idle).playkit-hover
    .playkit-center-playback-controls
    .playkit-icon {
    width: 32px !important;
    height: 32px !important;
  }

  .hero-wrapper .playkit-playback-controls {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    width: 44px !important;
    height: 44px !important;
  }

  .hero-wrapper
    .playkit-player
    .playkit-bottom-bar
    .playkit-controls-container {
    flex-direction: column !important;
    align-items: flex-end !important;
    gap: 10px !important;
  }
}

@media (width > 1600px) {
  .hero-image-container {
    align-items: center;
  }
}
