@import url("./tokens.css");
@import url("./fonts.css");
@import url("./typography/index.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: none;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

body.appear {
  display: block;
}

header {
  height: var(--nav-height);
}

input,
textarea,
select,
button {
  font: inherit;
}

a.button:hover,
a.button:focus,
button:hover,
button:focus {
  cursor: pointer;
}

button:disabled,
button:disabled:hover {
  background-color: var(--light-color);
  cursor: unset;
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon img {
  height: 100%;
  width: 100%;
}

main .lds-content-section-primary-red {
  background-color: var(--lds-g-color-palette-red-005);
}

main .lds-content-section-tertiary-blue {
  background-color: var(--lds-g-color-palette-stone-005);
}

main .lds-content-section-quaternary-gray {
  background-color: var(--lds-g-color-palette-stone-020);
}

main .lds-content-section-secondary-green {
  background-color: var(--lds-g-color-palette-sage-010);
}

main .lds-content-section-padding-narrow {
  padding: var(--lds-g-spacing-800) var(--lds-g-grid-padding-desktop);
}

main .lds-content-section-padding-wide {
  padding: var(--lds-g-spacing-1800) var(--lds-g-spacing-4000);
}

main .lds-content-section-margin-narrow {
  margin: var(--lds-g-grid-margin-desktop);
}

main .lds-content-section-margin-wide {
  margin: var(--lds-g-spacing-1600);
}

main .lds-content-section-rounded-borders {
  border-radius: var(--lds-g-radius-4);
}

main .default-content-wrapper picture img {
  display: flex;
  width: 100%;
  height: 500px;
  padding: 8px;
  align-items: flex-start;
  gap: 8px;
  border-radius: var(--corner-radius-48px, 48px);
}

main .default-content-wrapper picture {
  display: flex;
  padding: 72px 0;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

@media (width < 900px) {
  main .lds-content-section-padding-narrow {
    padding: var(--lds-g-spacing-500) var(--lds-g-spacing-200);
  }

  main .lds-content-section-padding-wide {
    padding: var(--lds-g-spacing-1200) var(--lds-g-spacing-300);
  }

  main .lds-content-section-margin-narrow {
    margin: var(--lds-g-spacing-200);
  }

  main .lds-content-section-margin-wide {
    margin: var(--lds-g-spacing-400);
  }

  main .default-content-wrapper picture img {
    display: flex;
    width: 100%;
    height: 458.691px;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 24px;
    padding: 0;
    object-fit: cover;
    object-position: center;
  }

  main .default-content-wrapper picture {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background: var(--color-lillybrand-white, #fff);
  }
}

/* section metadata */
main .section.light,
main .section.highlight {
  background-color: var(--light-color);
  margin: 0;
  padding: 40px 0;
}

/* -----------------Breadcrumb styles--------------- */
.breadcrumb-container {
  z-index: 10;
  display: flex;
  align-items: center;
  width: inherit;
}

.breadcrumb-top-positioned {
  position: absolute;
  top: var(--lds-g-spacing-600);
  left: var(--lds-g-spacing-800);
}

.breadcrumb-container .breadcrumb-item {
  overflow: hidden;
  color: var(--lds-g-color-neutral-base-000);
  text-overflow: ellipsis;
  font: var(--lds-g-typography-ringside-special-eyebrow-normal-desktop);
  font-size: var(--lds-g-font-size-neg-2);
  text-transform: uppercase;
  text-decoration: none;
  cursor: unset;
  padding: var(--lds-g-spacing-50);
}

.breadcrumb-container .breadcrumb-link {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: 4%;
  text-underline-offset: 24%;
  text-underline-position: from-font;
  cursor: pointer;
  text-overflow: unset;
  overflow: visible;
}

.breadcrumb-container .breadcrumb-link:focus-visible {
  border-radius: var(--lds-g-radius-0);
  border: var(--lds-g-sizing-border-2) solid var(--lds-g-color-neutral-base-020);
  outline: none;
}

.breadcrumb-container .breadcrumb-divider {
  padding: var(--lds-g-spacing-50);
  color: var(--lds-g-color-neutral-base-000);
  font: var(--lds-g-typography-ringside-special-eyebrow-normal-desktop);
  text-transform: uppercase;
  text-decoration: none;
}

.breadcrumb-container .breadcrumb-home-page-container {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.breadcrumb-container .breadcrumb-home-page-container:focus-visible {
  border-radius: var(--lds-g-radius-0);
  border: var(--lds-g-sizing-border-2) solid var(--lds-g-color-neutral-base-020);
  outline: none;
}

.breadcrumb-container .breadcrumb-home-page-container .breadcrumb-item {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: 4%;
  text-underline-offset: 24%;
  text-underline-position: from-font;
}

.breadcrumb-container .icon-home-page {
  padding: var(--lds-g-spacing-50);
}

.breadcrumb-container .icon-home-page img {
  width: 13px;
  height: 13px;
  max-width: unset;
}

.breadcrumb-container .breadcrumb-ellipse {
  color: var(--lds-g-color-neutral-base-000);
  font: var(--lds-g-typography-ringside-special-eyebrow-normal-desktop);
  font-weight: var(--lds-g-font-weight-900);
  text-transform: uppercase;
  padding: var(--lds-g-spacing-50) var(--lds-g-spacing-100);
  cursor: pointer;
  width: var(--lds-g-spacing-350);
  height: var(--lds-g-spacing-350);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.breadcrumb-container .breadcrumb-ellipse:focus-visible {
  border-radius: 50%;
  border: var(--lds-g-sizing-border-2) solid var(--lds-g-color-neutral-base-020);
  outline: none;
}

.breadcrumb-container .breadcrumb-ellipse-dropdown {
  display: flex;
  max-width: 260px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: var(--lds-g-radius-4);
  box-shadow: var(--lds-g-shadow-bottom-3);
  background: var(--lds-g-color-neutral-base-005);
  position: absolute;
}

.breadcrumb-container .dropdown-item {
  color: var(--lds-g-color-neutral-base-100);
  font: var(--lds-g-typography-ringside-body-large);
  text-decoration: none;
  padding: var(--lds-g-spacing-200) var(--lds-g-spacing-300);
  cursor: pointer;
}

@media (width < 950px) {
  .breadcrumb-container {
    left: var(--lds-g-spacing-200);
    right: var(--lds-g-spacing-200);
    top: 216px;
  }

  .breadcrumb-container .breadcrumb-item {
    line-height: var(--lds-g-font-line-height-1);
  }

  .breadcrumb-container .home-page-breadcrumb {
    display: none;
  }
}

/* -------------cta related css-------------------- */

/* filled cta */
.cta-button-filled {
  background-color: var(--lds-g-color-palette-red-060);
  padding: var(--lds-g-spacing-150) var(--lds-g-spacing-300);
  border-radius: var(--lds-g-radius-6);
  color: var(--lds-g-color-neutral-base-000);
  font: var(--lds-g-typography-ringside-special-cta-button-default);
  text-decoration: none;
  border: none;
  box-shadow: none;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--lds-g-spacing-150);
  cursor: pointer;
}

.cta-button-filled:hover {
  background: var(--lds-g-color-palette-red-070);
}

.cta-button-filled:focus {
  border-radius: var(--lds-g-radius-7);
  background: var(--lds-g-color-palette-red-070);
  outline: 2px solid var(--lds-g-color-neutral-base-100);
  outline-offset: 2px !important;
}

.cta-button-filled:active {
  background: var(--lds-g-color-palette-red-080);
}

.cta-button-filled:disabled {
  background: var(--lds-g-color-neutral-base-020);
  color: var(--lds-g-color-neutral-base-060);
}

/* text cta */
.cta-text {
  color: var(--lds-g-color-palette-red-060);
  font: var(--lds-g-typography-ringside-special-cta-text-link-default);
  box-shadow: none;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: 4%;
  text-underline-offset: 24%;
  text-underline-position: from-font;
  width: fit-content;
  cursor: pointer;
}

.cta-text:hover {
  color: var(--lds-g-color-palette-red-070);
  text-decoration-line: none;
}

.cta-text:active {
  color: var(--lds-g-color-palette-red-060);
  border-radius: var(--lds-g-radius-0);
  background: var(--lds-g-color-palette-red-010);
  padding: var(--lds-g-spacing-50) var(--lds-g-spacing-100);
}

.cta-text:focus {
  color: var(--lds-g-color-palette-red-070);
  border-radius: var(--lds-g-radius-0);
  border: var(--lds-g-sizing-border-2) solid var(--lds-g-color-neutral-base-100);
  padding: var(--lds-g-spacing-50) var(--lds-g-spacing-100);
}

.cta-text:disabled {
  color: var(--lds-g-color-neutral-base-060);
}

/* icons */
.cta-button-filled .icon-arrow-right,
.cta-text .icon-arrow-right {
  width: 20px;
  height: 20px;
}

.cta-button-filled .icon-download-white,
.cta-text .icon-arrow-right {
  width: var(--lds-g-radius-3);
  height: var(--lds-g-radius-3);
}

.cta-icon-left {
  flex-direction: row-reverse;
}

/* -----------------rte links css-------------------- */
.richtext-field-wrapper a.rte-link {
  color: var(--lds-g-color-palette-red-060);
  box-shadow: none;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: 4%;
  text-underline-offset: 24%;
  text-underline-position: from-font;
  width: fit-content;
  cursor: pointer;
}

.richtext-field-wrapper a.rte-link:hover {
  color: var(--lds-g-color-palette-red-070);
  text-decoration-line: none;
}

.richtext-field-wrapper a.rte-link:active {
  color: var(--lds-g-color-palette-red-060);
  border-radius: var(--lds-g-radius-0);
  background: var(--lds-g-color-palette-red-010);
  padding: var(--lds-g-spacing-50) var(--lds-g-spacing-100);
}

.richtext-field-wrapper a.rte-link:focus {
  color: var(--lds-g-color-palette-red-070);
  border-radius: var(--lds-g-radius-0);
  border: var(--lds-g-sizing-border-2) solid var(--lds-g-color-neutral-base-100);
  padding: var(--lds-g-spacing-50) var(--lds-g-spacing-100);
}

.richtext-field-wrapper a.rte-link:disabled {
  color: var(--lds-g-color-neutral-base-060);
}
